<% include header.html %>
<!-- <link rel="stylesheet" href="css/plugins/ztree/zTreeStyle/zTreeStyle.css" /> -->
<link rel="stylesheet" href="css/plugins/steps/jquery.steps.css" />
<link rel="stylesheet" href="css/plugins/iCheck/custom.css" />
<style>
#group_list {
    width: 100%;
}
#group_list .group {
    width: 160px;
    height: 160px;
    border: solid 1px #1ab394;
    text-align: center;
    border-radius: 7px;
    background: #fff;
    font-size: 16px;
    padding: 35px 0px;
    color: #1ab394;
    position: relative;
    float: left;
    margin: 0px 15px;
    cursor: pointer;
}
#group_list .group .title {
    color: #236759;
}
#group_list .group .number {
  color: #E9841F;
  margin-bottom: 10px;
}
#group_list .group .number i{
    font-size: 24px;
    display: block;
}
#check-click {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    font-size: 60px;
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 160px;
    color: #217C03;
    /*display: none;*/
}
</style>

<div class="wrapper wrapper-content">
  <div class="row" style="background-color: white;">
　    <form id="example-advanced-form" action="#">
　　　    <h3><i class="fa fa-users"></i>&nbsp;选择分组</h3>
　　　    <fieldset>
　　　        <legend>选择分组</legend>
             <div id="group_list">
                <div class="group">
                  <div class="number"><i class="fa fa-users"></i>&nbsp;20人</div>
                  <div class="title">默认测试组</div>
                  <div id="check-click">
                    <i class="fa fa-check-circle-o"></i>
                  </div>
                </div>
             </div>
             <div id="group_list">
                <div class="group">
                  <div class="number"><i class="fa fa-users"></i>&nbsp;20人</div>
                  <div class="title">默认测试组</div>
                </div>
             </div>
　　　    </fieldset>
　　　
　　　    <h3><i class="fa fa-pencil-square-o"></i>&nbsp;给测试命名</h3>
　　　    <fieldset>
　　　        <legend>给测试命名</legend>
　　　
　　　        <!-- <label for="name-2">First name *</label>
　　　        <input id="name-2" name="name" type="text" class="required">
　　　        <label for="surname-2">Last name *</label>
　　　        <input id="surname-2" name="surname" type="text" class="required">
　　　        <label for="email-2">Email *</label>
　　　        <input id="email-2" name="email" type="text" class="required email">
　　　        <label for="address-2">Address</label>
　　　        <input id="address-2" name="address" type="text">
　　　        <label for="age-2">Age (The warning step will show up if age is less than 18) *</label>
　　　        <input id="age-2" name="age" type="text" class="required number">
　　　        <p>(*) Mandatory</p> -->
　　　    </fieldset>
　　　
　　　    <h3><i class="fa fa-database"></i>&nbsp;开始组卷</h3>
　　　    <fieldset>
　　　        <legend>开始组卷</legend>
　　　
　　　        <p>Please go away ;-)</p>
　　　    </fieldset>
　　　
　　　    <h3><i class="fa fa-file-text"></i>&nbsp;试卷预览</h3>
　　　    <fieldset>
　　　        <legend>试卷预览</legend>
　　　
　　　        <input id="acceptTerms-2" name="acceptTerms" type="checkbox" class="required"> <label for="acceptTerms-2">I agree with the Terms and Conditions.</label>
　　　    </fieldset>

    　　　<h3><i class="fa fa-paper-plane"></i>&nbsp;发布试卷</h3>
　　　    <fieldset>
　　　        <legend>发布试卷</legend>
　　　
　　　        <p>Please go away ;-)</p>
　　　    </fieldset>
　　　
　　　</form>
  </div>
</div>

<% include footer.html %>

<script type="text/javascript" src="js/plugins/steps/jquery.steps.min.js"></script>
<script type="text/javascript" src="js/plugins/iCheck/icheck.min.js"></script>
<!-- <script type="text/javascript" src="js/teacher/jquery-labelauty.js"></script> -->
<script>
// 分步布置
var form = $("#example-advanced-form").show();

form.steps({
    headerTag: "h3",
    bodyTag: "fieldset",
    transitionEffect: "slideLeft",
    onStepChanging: function (event, currentIndex, newIndex)
    {
        // Allways allow previous action even if the current form is not valid!
        if (currentIndex > newIndex)
        {
            return true;
        }
        // Forbid next action on "Warning" step if the user is to young
        if (newIndex === 4 && Number($("#age-2").val()) < 18)
        {
            return false;
        }
        // Needed in some cases if the user went back (clean up)
        if (currentIndex < newIndex)
        {
            // To remove error styles
            form.find(".body:eq(" + newIndex + ") label.error").remove();
            form.find(".body:eq(" + newIndex + ") .error").removeClass("error");
        }
        form.validate().settings.ignore = ":disabled,:hidden";
        return form.valid();
    },
    onStepChanged: function (event, currentIndex, priorIndex)
    {
        // Used to skip the "Warning" step if the user is old enough.
        if (currentIndex === 2 && Number($("#age-2").val()) >= 18)
        {
            form.steps("next");
        }
        // Used to skip the "Warning" step if the user is old enough and wants to the previous step.
        if (currentIndex === 2 && priorIndex === 3)
        {
            form.steps("previous");
        }
    },
    onFinishing: function (event, currentIndex)
    {
        form.validate().settings.ignore = ":disabled";
        return form.valid();
    },
    onFinished: function (event, currentIndex)
    {
        alert("Submitted!");
    }
}).validate({
    errorPlacement: function errorPlacement(error, element) { element.before(error); },
    rules: {
        confirm: {
            equalTo: "#password-2"
        }
    }
});

$(document).ready(function(){
  $("#group_list .group").click(function(){
    alert("dianjik");
  });
});

</script>
