<% include header.html %>
<div class="wrapper wrapper-content" hidden="hidden">
    <div class="ibox float-e-margins">
        <a id="btn_add" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;添加</a>
        <button type="button" class="btn btn-primary" onclick="Queryretrieve();"><i class="fa fa-refresh"></i>&nbsp;检索
        </button>
        <span id="querycondition">所有</span>
        <div class="ibox-content">
            <table id="bstable" class="table-fixed"></table>
        </div>
    </div>
</div>
<% include footer.html %>

<script>
    var pre_question = null;
    var is_Audit = false;
    var is_pre = 1;
    var offset = 0;
    var prop_html = null;
    var quest_id = null;
    var props = {};

    //初始化题目表格
    function initTable() {
        $('#bstable').bootstrapTable({
            ajax: ajaxRequest,
            pagination: true,
            pageNumber: 1,
            pageSize: 10,
            pageList: [10, 20, 40],
            sidePagination: 'server',
            columns: [{
                field: 'row_index',
                title: '序号',
                align: 'center',
                width: 50,
                formatter: function (value, row, index) {
                    return offset + index + 1;
                }
            }, {
                field: 'type_name',
                title: '题型',
                align: 'center',
                width: 60
            }, {
                field: 'statement',
                title: '题干',
                align: 'left',
                halign: 'center'
            }, {
                field: 'question',
                title: '问题',
                align: 'left',
                halign: 'center',
                width: 200
            }, {
                field: 'title',
                title: '材料',
                align: 'left',
                halign: 'center',
                width: 100
            }, {
                field: 'status',
                title: '状态',
                align: 'center',
                width: 60,
                formatter: function (value, row, index) {
                    var str = '未提交';
                    if (value == 10) str = '已提交';
                    if (value == 100) {
                        str = '未通过';
                        return '<a class="edit">' + str + '</a>';
                    }
                    return str;
                },
                events: statusEvents
            }, {
                field: 'opr_name',
                title: '操作者',
                align: 'center',
                width: 60
            }, {
                field: 'opr_date',
                title: '操作时间',
                align: 'center',
                width: 140,
                formatter: function (value, row, index) {
                    return new Date(value).format("yyyy-MM-dd hh:mm:ss");
                }
            }, {
                field: 'opr',
                title: '操作',
                align: 'center',
                width: 120,
                formatter: function (value, row, index) {
                    var str = '';
                    if (row.status == 10) {
                        str = '<a class="rollback">取消提交</a>'
                    } else {
                        str = '<a class="edit">修改</a>&nbsp<a class="commit">提交审核</a>&nbsp<a class="delete">删除</a>'
                    }
                    return str;
                },
                events: operateEvents
            }]
        }).on('click-row.bs.table', function (e, row, $element) {
            $('.success').removeClass('success');
            $($element).addClass('success');
        });
    }

    window.statusEvents = {
        'click .edit': function (e, value, row, index) {
            alert(row.remark);
        }
    };

    function setqueststatus(quest_id, status) {
        _ajax_post("POST", server_url + "/quest/setprequeststatus", {
                    quest_id: quest_id,
                    status: status
                },
                function () {
                    retrieve();
                    _toastr_ok("保存成功!");
                });
    }

    //表格操作按钮点击事件处理
    window.operateEvents = {
        'click .edit': function (e, value, row, index) {
            quest_id = row.quest_id;
            pre_question = row;
            EditQuest();
        },
        'click .commit': function (e, value, row, index) {
            quest_id = row.quest_id;
            var layer_index;
            layer_index = layer.confirm('您确定要提交当前题目吗？', {
                btn: ['确定', '取消']
            }, function () {
                setqueststatus(quest_id, 10);
                layer.close(layer_index);
            }, function () {
                layer.close(layer_index);
            });
        },
        'click .rollback': function (e, value, row, index) {
            quest_id = row.quest_id;
            var layer_index;
            layer_index = layer.confirm('您确定要取消提交当前题目吗？', {
                btn: ['确定', '取消']
            }, function () {
                setqueststatus(quest_id, 0);
                layer.close(layer_index);
            }, function () {
                layer.close(layer_index);
            });
        },
        'click .delete': function (e, value, row, index) {
            var layer_index;
            layer_index = layer.confirm('您确定要删除当前题目吗？', {
                btn: ['确定', '取消']
            }, function () {
                _ajax_post("POST", server_url + "/quest/delquest", {
                            quest_id: row.quest_id
                        },
                        function () {
                            retrieve();
                            _toastr_ok("删除成功!");
                        });
                layer.close(layer_index);
            }, function () {
                layer.close(layer_index);
            });
        }
    };

    //自定义AJAX方法
    function ajaxRequest(params) {
        offset = params.data.offset;
        params.data.props = JSON.stringify(props) ;
        $.ajax({
            type: "GET",
            url: server_url + "/quest/getprequest",
            headers: {
                token: sessionStorage.getItem('token')
            },
            data: params.data,
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                _toastr("error message : " + errorThrown.toString(), "bottom-right", "error", false);
            },
            success: function (ret) {
                if (ret.errno == 0) {
                    params.success(ret.data);
                } else {
                    if (ret.errno == 1001) {
                        $.each(ret.errmsg, function (i, n) {
                            _toastr(n, "bottom-right", "error", false);
                        })
                    } else {
                        _toastr(ret.errmsg, "bottom-right", "error", false);
                    }
                }
            }
        });
    }

    //刷新
    function retrieve() {
        $('#bstable').bootstrapTable('refresh');
    }

    //刷新
    function Queryretrieve() {
        layer.open({
            type: 2,
            title: "选择属性",
            area: ['800px', '95%'],
            content: '/admin/public_prop_query?target_id=1'
        });
    }

    //处理属性检索弹出窗口返回值
    function getquery(queryprobs) {
        var prop_names = '所有';
        props = queryprobs;
        for(var item of props){
            prop_names = item.prop_names;
        }

        $('#querycondition').html(prop_names);
        $('#bstable').bootstrapTable('refresh');
    }

    //打开题目编辑界面
    function EditQuest() {
        layer.open({
            type: 2,
            title: "题目编辑",
            shadeClose: true,
            maxmin: true,
            area: ['100%', '100%'],
            content: '/admin/pre_quest_edit'
        });
    }

    //操作类型字段显示
    function operateFormatter(value, row, index) {
        return ['<div class="btn-group">',
            '<a data-toggle="modal" href="prop_type.html#modal-form" class="btn btn-xs btn-primary edit">修改</a>',
            '</div>',
            '<div class="btn-group">',
            '<button class="btn btn-danger btn-xs delete">删除</button>',
            '</div>'
        ].join('');
    }

    $(document).ready(function () {
        //绑定添加按钮事件
        $("#btn_add").click(function () {
            quest_id = null;
            EditQuest();
        });

        initTable();

        _ajax_post(
                "GET",
                server_url + "/property/getsystargetprophtml", {
                    target_id: 1
                },
                function (data) {
                    prop_html = data[0].prop_html;
                    $(".wrapper-content").show();
                });
    });
</script>