<% include selector_header.html %>
<link rel="stylesheet" href="css/plugins/ztree/zTreeStyle/zTreeStyle.css" />
<div class="container">
	<div class="panel panel-primary">
		<div class="panel-body">
			<div class="input-group text-right">
				<!--<input id="input_search" type="text" placeholder="查找属性" class="input form-control">-->
				<span class="input-group-btn">
                            <button id="btn_ok" type="button" class="btn btn btn-primary">确定</button>
                            <button id="btn_cancel" type="button" class="btn btn btn-white">取消</button>
                        </span>
			</div>

			<div class="row border-bottom white-bg">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<div id="ztree" class="ztree"></div>
					</div>
					<!--<table id="bstable" class="table-fixed"></table>-->
				</div>
			</div>

		</div>
	</div>
</div>
<% include selector_footer.html %>
<script type="text/javascript" src="js/plugins/ztree/jquery.ztree.core.min.js"></script>
<script type="text/javascript" src="js/plugins/ztree/jquery.ztree.excheck.min.js"></script>

<script>
	var layer_index;
	var ptype_id;
	var prop_id, prop_name;
	var request_url = server_url + "/property/getpropertyztree";
	var target_id = 0;
	var choosedprop;

	var setting = {
		check: {
			enable: false
		},
		data: {
			simpleData: {
				enable: true
			}
		},
		callback: {
			onDblClick: zTreeOnDblClick
		}		
	};

	function zTreeOnDblClick(event, treeId, treeNode) {
	    SelectItem();
	};

	//加载jstree
	function loadtree(data) {
		$("#ztree").empty();
		$.fn.zTree.init($("#ztree"), setting, data);
	}

	//初始选择器表格
	function initTable() {
		$('#bstable').bootstrapTable({
			ajax: ajaxRequest,
			pageNumber: 1,
			pageSize: 50,
			height: 400,
			showPaginationSwitch: false,
			sidePagination: 'server',
			columns: [{
				field: 'prop_name',
				title: '属性内容',
				align: 'left',
				halign: 'center',
				width: 160
			}, {
				field: 'path_name',
				title: '完整名称',
				align: 'left',
				halign: 'center'
			}],
			queryParams: function(params) {
				params.limit = 50;
				params.offset = 0;
				params.sort = params.sort;
				params.order = params.order;
				params.ptype_id = ptype_id;
				params.target_id = target_id;
				params.choosedprop = JSON.stringify(choosedprop);
				//				params.search = $("#input_search").val();
				return params;
			},
		}).on('click-row.bs.table', function(e, row, $element) {
			prop_id = row.prop_id;
			prop_name = row.prop_name;

			$('.success').removeClass('success');
			$($element).addClass('success');
		}).on('dbl-click-row.bs.table', function(e, row, $element) {
			prop_id = row.prop_id;
			prop_name = row.prop_name;

			$('.success').removeClass('success');
			$($element).addClass('success');

			SelectItem();
		});
	}

	//自定义AJAX方法
	function ajaxRequest(params) {
		$.ajax({
			type: "GET",
			url: request_url,
			headers: {
				token: sessionStorage.getItem('token')
			},
			data: params.data,
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				_toastr("error message : " + errorThrown.toString(), "bottom-right", "error", false);
			},
			success: function(ret) {
				if(ret.errno == 0) {
					params.success(ret.data);

				} else {
					if(ret.errno == 1001) {
						$.each(ret.errmsg, function(i, n) {
							_toastr(n, "bottom-right", "error", false);
						})
					} else {
						_toastr(ret.errmsg, "bottom-right", "error", false);
					}
				}
			}
		});
	}

	//选择属性
	function SelectItem() {
		var zTree = $.fn.zTree.getZTreeObj("ztree");
		var sel = zTree.getSelectedNodes();

		if(!sel.length) return false;

		parent.setprop(sel[0].id, sel[0].path_name);
		parent.layer.close(layer_index);
	}

	$(document).ready(function() {
		layer_index = parent.layer.getFrameIndex(window.name);

		$("#btn_cancel").click(function() {
			parent.layer.close(layer_index);
		})

		//答案确定按钮事件
		$("#btn_ok").click(function() {
			SelectItem();
		});

		//		$("#input_search").keydown(function(event) {
		//			if(event.which == 13)
		//				$('#bstable').bootstrapTable('refresh');
		//		});

		//获取属性类型ID
		ptype_id = parent.ptype_id;
		target_id = parent.target_id;
		if(parent.choosedprop) {
			choosedprop = JSON.stringify(parent.choosedprop);
		}

		if(ptype_id == 'k') request_url = server_url + "/baseinfo/getknowledgeztree";

		initTable();

		_ajax_post(
			"GET",
			request_url, {
				ptype_id: ptype_id,
				target_id: target_id,
				choosedprop: choosedprop
			},
			loadtree);

		$("input").focus();
	});
</script>