<% include header.html %>
<div class="wrapper wrapper-content" hidden="hidden">
	<div class="ibox float-e-margins">
		<button type="button" class="btn btn-primary" onclick="searchquest();"><i class="fa fa-refresh"></i>&nbsp;检索</button>
		<div class="ibox-content">
			<table id="bstable" class="table-fixed"></table>
		</div>
	</div>
</div>
<div id="edit-form" class="container" hidden="hidden" style="width: 600px;">
	<div class="panel panel-primary">
		<div class="panel-body">
			<form class="form-horizontal">
				<div class="form-group">
					<label class="col-xs-3 control-label text-right">题型</label>
					<div class="col-xs-3">
						<select id="f_type_id" class="form-control"></select>
					</div>
				</div>
				<div id="ptype"></div>

				<div class="col-xs-12">
					<div class="text-center">
						<button class="btn btn-sm btn-w-m btn-default" type="button" onclick="layer.close(edit_index);">取消</button>
						<button id="btnSearch" type="button" class="btn btn-sm btn-w-m btn-primary">确定</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<% include footer.html %>

<script>
	var quest_id;
	var pre_question = null;
	var is_Audit = false;
	var is_pre = 0;
	var offset = 0;
	var prop_html = null;
	var edit_index;
	var parm;

	function searchquest() {
		edit_index = layer.open({
			type: 1,
			title: "题目检索",
			maxmin: true,
			area: ['660px', '510px'],
			content: $('#edit-form'),
		});
	}
	
	//初始化题目表格
	function initTable() {
		$('#bstable').bootstrapTable({
			ajax: ajaxRequest,
			pagination: true,
			pageNumber: 1,
			pageSize: 10,
			pageList: [10, 20, 40],
			sidePagination: 'server',
			queryParams: function(params) {
				params.limit = params.limit;
				params.offset = params.offset;
				params.sort = params.sort;
				params.order = params.order;
				params.organ_id = sessionStorage.organ_id;
				params.parm = JSON.stringify(parm);
				return params;
			},			
			columns: [{
				field: 'row_index',
				title: '序号',
				align: 'center',
				width: 60,
				formatter:function(value,row,index){
					return offset + index + 1;
				}
			},{
				field: 'type_name',
				title: '题型',
				align: 'center',
				width: 60
			}, {
				field: 'statement',
				title: '题干',
				align: 'left',
				halign: 'center',
			}, {
				field: 'title',
				title: '材料',
				align: 'left',
				halign: 'center',
				width: 200,
			},{
				field: 'opr_name',
				title: '操作者',
				align: 'center',
				width: 60
			}, {
				field: 'opr_date',
				title: '操作时间',
				align: 'center',
				width: 140,
				formatter: function(value, row, index) {
					return new Date(value).format("yyyy-MM-dd hh:mm:ss");
				},
			}, {
				field: 'del',
				title: '操作',
				align: 'center',
				width: 100,
				formatter: function(value, row, index) {
					return '<a class="edit">编辑</a>&nbsp;&nbsp;<a class="delete">删除</a>';
				},
				events: operateEvents
			}],
		}).on('click-row.bs.table', function(e, row, $element) {
			$('.success').removeClass('success');
			$($element).addClass('success');
		});
	}

	//表格操作按钮点击事件处理
	window.operateEvents = {
		'click .edit': function(e, value, row, index) {
			quest_id = row.quest_id;
			pre_question = row;
			EditQuest();
		},
		'click .delete': function(e, value, row, index) {
			var layer_index;
			layer_index = layer.confirm('您确定要删除当前题目吗？', {
				btn: ['确定', '取消']
			}, function() {
				_ajax_post("POST", server_url + "/quest/delquest", {
						quest_id: row.quest_id,
						is_pre:is_pre
					},
					retrieve);
				layer.close(layer_index);
			}, function() {
				layer.close(layer_index);
			});
		}
	};

	//自定义AJAX方法
	function ajaxRequest(params) {
		offset = params.data.offset;
		$.ajax({
			type: "GET",
			url: server_url + "/quest/queryquest",
			headers: {
				token: sessionStorage.getItem('token')
			},
			data: params.data,
			error: function(XMLHttpRequest, textStatus, errorThrown) {
				_toastr("error message : " + errorThrown.toString(), "bottom-right", "error", false);
			},
			success: function(ret) {
				if(ret.errno == 0) {
					params.success(ret.data);
				} else {
					if(ret.errno == 1001) {
						$.each(ret.errmsg, function(i, n) {
							_toastr(n, "bottom-right", "error", false);
						})
					} else {
						_toastr(ret.errmsg, "bottom-right", "error", false);
					}
				}
			}
		});
	}

	//刷新
	function retrieve() {
		$('#bstable').bootstrapTable('refresh');
	}

	//打开题目编辑界面
	function EditQuest() {
		layer.open({
			type: 2,
			title: "题目编辑",
			shadeClose: true,
			maxmin: true,
			area: ['100%', '100%'],
			content: '/admin/pre_quest_edit',
		});
	}
	
	//操作类型字段显示
	function operateFormatter(value, row, index) {
		return ['<div class="btn-group">',
			'<a data-toggle="modal" href="prop_type.html#modal-form" class="btn btn-xs btn-primary edit">修改</a>',
			'</div>',
			'<div class="btn-group">',
			'<button class="btn btn-danger btn-xs delete">删除</button>',
			'</div>'
		].join('');
	}

	function AddProp(item) {
		//获取点击的属性ID
		ptype_id = $(item).attr("ptype_id");
		if(!ptype_id) return;
		layer.open({
			type: 2,
			title: "选择属性",
			area: ['460px', '550px'],
			content: '/admin/property_selector',
		});
	}

	function setprop(parm_prpo_id, parm_prpo_name) {
		//检查是否存在重复的值，如果有则不再添加
		var lb_repeat = false;

		$(".prop-search-choice[ptype_id='" + ptype_id + "']").each(function(index) {
			var data_value = $(this).attr("data-value");
			data_value = data_value.replace('"', '')

			if(parm_prpo_id == data_value) {
				lb_repeat = true;
				return false;
			}
		});
		if(lb_repeat) return;

		//添加选择项目
		var temp = '<li class="prop-search-choice" ptype_id="' + ptype_id + '" data-value=' + parm_prpo_id + '><span>' + parm_prpo_name + '</span><a class="prop-search-choice-close" data-value=' + parm_prpo_id + '></a></li>';
		$("[add_ptype_id='" + ptype_id + "']").before(temp);

		var values = [];
		$(".prop-search-choice[ptype_id='" + ptype_id + "']").each(function(index) {
			values.push($(this).attr("data-value"));
		});

		//选择后将值重新赋值在隐藏的input上
		$("input[id='ptype_id_" + ptype_id + "']").val(values.join(','));
	}


	$(document).ready(function() {
		//绑定添加按钮事件
		$("#btn_add").click(function() {
			quest_id = null;
			EditQuest();
		});

		$("#btnSearch").click(function() {
			//题型
			var quest_type_id = $("#f_type_id").val();

			//获取选择的属性值，并判断是否必选
			var quest_prop = [];
			var quest_knowledge = [];

			//重新生成目录属性值			
			$(".prop-chosen-choices").each(function(index) {
				var values = [];
				var ptype_id = $(this).attr("ptype_id");
				$(".prop-search-choice[ptype_id='" + ptype_id + "']").each(function(index) {
					values.push($(this).attr("data-value"));
				});
				$("input[id='ptype_id_" + ptype_id + "']").val(values.join(','));
			});

			$("#ptype input").each(function(index) {
				if($(this).hasClass("data_end")) return;

				var ptype_id = $(this).attr("name");
				var prop_value = $(this).val();
				var data_type = $(this).attr("data_type");

				if(prop_value.length < 1) {
					return;
				}

				prop_ids = prop_value.split(",")
				for(var i in prop_ids) {
					if(prop_ids[i] != '') {
						var prop_id = 0;
						var text_value = '';
						var num_value1 = 0;
						var num_value2 = 0;

						if(data_type == 0) prop_id = prop_ids[i];
						if(data_type == 1) {
							num_value1 = prop_ids[i];
							num_value2 = $(".data_end[name='" + ptype_id + "']").val();
						}
						if(data_type == 2) text_value = prop_ids[i];

						//知识点处理
						if(ptype_id == 'k') {
							quest_knowledge.push({
								kid: prop_id
							});
						} else {
							quest_prop.push({
								ptype_id: ptype_id,
								prop_id: prop_id,
								data_type: data_type,
								num_value1: num_value1,
								num_value2: num_value2,
								text_value: text_value,
							});
						}
					}
				}
			});

			//组织参数
			parm = {
				quest_type_id: quest_type_id,
				organ_id: sessionStorage.organ_id,
				quest_prop: JSON.stringify(quest_prop),
				quest_knowledge: JSON.stringify(quest_knowledge)
			};

			$('#bstable').bootstrapTable('refresh');
			layer.close(edit_index);
		});


		initTable();
		
		_ajax_post("GET", server_url + "/quest/getquesttype", {},
			function(data) {
				var html = '';
				for(var item of data) {
					html += '<option value="' + item.type_id + '">' + item.type_name + '</option>';
				}
				$("#f_type_id").html(html);
			});
			
		_ajax_post(
			"GET",
			server_url + "/property/getsystargetprophtml", {
				target_id: 1
			},
			function(data) {
				prop_html = data[0].prop_html;
				$("#ptype").html(prop_html);
				initPropChoose(AddProp);
				$(".wrapper-content").show();
			});			
	});
</script>