<% include ../header.html %>
<link href="//cdn.bootcss.com/element-ui/1.2.4/theme-default/index.css" rel="stylesheet">
<link rel="stylesheet" href="css/plugins/ztree/zTreeStyle/zTreeStyle.css" />
<link rel="stylesheet" href="css/teacher/dispose_works.css" />

<div class="wrapper wrapper-content">
  <div class="row" id="app" style="background-color: white;padding: 15px;" >
      <div id="steps-panel">
        <el-steps :space="100" :active="active" finish-status="success">
            <el-step title="选择分组"></el-step>
            <el-step title="给测试命名"></el-step>
            <el-step title="开始组卷"></el-step>
            <el-step title="试卷预览"></el-step>
            <el-step title="发布试卷"></el-step>
        </el-steps>
      </div>
      <div id="step-content">
        <div id="step0" v-if="active == 0" v-loading='loads.loading1' element-loading-text="加载中...">
          <el-select v-model="groupid" placeholder="请选择目标分组">
            <el-option
                v-for="group in groupList"
                :label="group.group_name"
                :value="group.group_id"
                >
                <span style="float: left">{{ group.group_name }}</span>
                <span style="float: right; color: #8492a6; font-size: 13px">{{ group.member_count }}人</span>
              </el-option>
            </el-select>
        </div>
        <div id="step1"  v-if="active == 1">
          <el-form label-position="top" label-width="80px">
              <el-form-item label="测试命名:">
                  <el-input v-model="test_title" placeholder="给新建的分组，取个名称吧"></el-input>
              </el-form-item>
          </el-form>
        </div>
        <div id="step2"  v-if="active == 2">
          <div id="paper-type-btns"  v-if="paperType == 0">
            <p>请先选择组卷方式</p>
            <div>
              <el-button type="success" @click="handlePaperType(2)">按知识点组卷</el-button>
            </div>
            <div>
              <el-button type="info"  @click="handlePaperType(1)">按规则组卷</el-button>
            </div>
          </div>
          <div v-if="paperType == 1">
            <el-row>
                <el-col :span="12" style="border-right: solid 1px #dedede;min-height: 370px;overflow-y: scroll;">
                  <div class="grid-content bg-purple">
                    <el-table
                        :data="rule_list"
                        highlight-current-row
                        v-loading='loads.loading2'
                        element-loading-text="加载中..."
                        @current-change="handleCurrentRuleId"
                        style="width: 100%">
                        <el-table-column
                          prop="rule_name"
                          label="请选择组卷规则">
                        </el-table-column>
                     </el-table>
                  </div>
                </el-col>
                <el-col :span="12" style="overflow-y: scroll;">
                  <div class="grid-content bg-purple-light">
                    <div id="rule-detail"  v-loading='loads.loading3' element-loading-text="加载中...">
                      <div class="title">
                        <div class="cell">规则详情[{{rule_detail.rule_name}}]</div>
                      </div>
                      <div class="rule-content">
                        <el-row :gutter="20" class="rule-total-info">
                          <el-col :span="8">
                            <div class="grid-content bg-purple">总的分数：<span>{{rule_detail.score || 0}}分</span></div>
                          </el-col>
                          <el-col :span="8">
                            <div class="grid-content bg-purple">总的题数：<span>{{rule_detail.quest_num || 0}}题</span></div>
                          </el-col>
                          <el-col :span="8">
                            <div class="grid-content bg-purple">持续时间：<span>{{rule_detail.duration || 0}}分钟</span></div>
                          </el-col>
                        </el-row>
                        <el-row :gutter="20" class="rule-group" v-for="group in rule_detail.groups">
                            <el-col :span="12"><div class="grid-content bg-purple">分数：{{group.score || 0}}</div></el-col>
                            <el-col :span="12"><div class="grid-content bg-purple">题数：{{group.quest_num || 0}}</div></el-col>
                            <el-col :span="24" class="knowlege">
                                <el-row :gutter="20">
                                    <el-col :span="4">
                                        知识点:
                                    </el-col>
                                    <el-col :span="16">
                                      <ul>
                                        <li v-for="knowlege in group.knowleges">
                                          {{ knowlege.kName }}
                                        </li>
                                      </ul>
                                    </el-col>
                                </el-row>
                            </el-col>
                        </el-row>
                      </div>
                    </div>
                  </div>
                </el-col>
            </el-row>
          </div>
          <div id="knowlegePanel" v-if="paperType == 2">
            <div class="clearfix knows">
              <div class="fl chl">
                  知识点类型
              </div>
              <div class="fl chr clearfix" id="tabEduLevels">
                <a class="fl" href="###"  @click="selectKnow(knowlege.kbillId, knowlege.kbillName)" v-for="knowlege in paper.KnowledgeTrees">
                  <span class="active" v-if="knowlege.kbillId == paper.kbillId">{{knowlege.kbillName}} </span>
                  <span v-if="knowlege.kbillId != paper.kbillId">{{knowlege.kbillName}} </span>
                </a>
              </div>
            </div>
            <div id="test-list">
              <div class="test-left fl">
                <div class="know-title">{{paper.kname}}</div>
                <div id="ztree" class="ztree"></div>
              </div>
              <div class="test-list fl">
                <div class="clearfix knows">
                  <div class="fl chl">
                      题型
                  </div>
                  <div class="fl chr clearfix" id="tabEduLevels">
                    <a class="fl" href="###"  @click="selectType(null, '')">
                      <span class="active" v-if="paper.typeId == null"> 全部 </span>
                      <span  v-if="paper.typeId != null"> 全部 </span>
                    </a>
                    <a class="fl" href="###"  @click="selectType(QuestType.typeId, QuestType.typeName)" v-for="QuestType in paper.QuestTypes">
                      <span class="active" v-if="QuestType.typeId == paper.typeId">{{QuestType.typeName}} </span>
                      <span v-if="QuestType.typeId != paper.typeId">{{QuestType.typeName}} </span>
                    </a>
                  </div>
                </div>
                <div class="paper-content" style="padding:5px 10px;">
                  <el-card class="box-card"  v-for="(question,index) in paper.QuestsList" style="100%">
                      <div slot="header" class="clearfix">
                        <span style="line-height: 36px;">{{question.origin}}</span>
                        <el-button
                          @click="addBasket(question.question_id)"
                          v-if="paper.QuestsBasket.indexOf(question.question_id) == -1"
                          style="float: right;margin-top: 4px;" type="success"　size="small">
                          加入试卷
                        </el-button>
                        <el-button
                          @click="deleteBasket(question.question_id)"
                          v-if="paper.QuestsBasket.indexOf(question.question_id) != -1"
                          style="float: right;margin-top: 4px;" type="danger"　size="small">
                          移除试题
                        </el-button>
                      </div>
                      <div class="question-panel" >
                          <div class="question-detail">
                              <span v-html="question.question_detail">  {{ question.question_detail }} </span>
                          </div>
                          <div class="answer_list">
                              <p v-for="(answer, id) in question.answer_list" style="display:inline-flex;margin: auto 10px;">
                                <span v-html="switchLetter(id)"> {{switchLetter(id)}} </span>
                                <span v-html="answer.answer"> {{ switchLetter(id) + ' ' + answer.answer  }} </span>
                              </p>
                          </div>
                          <div class="question_analysis">
                              <el-tag type="warning">试题解析</el-tag>
                              <span v-html="question.question_analysis" style="padding-left: 10px;">  {{ question.question_analysis  }} </span>
                          </div>
                      </div>
                  </el-card>
                  <div v-if="paper.paperTotal > paper.pageSize">
                    <el-pagination
                       @size-change="handleSize"
                       @current-change="handleCurrent"
                       :current-page="paper.currentPage"
                       :page-sizes="[10, 15, 20, 25]"
                       :page-size="paper.pageSize"
                       layout="total, sizes, prev, pager, next, jumper"
                       :total="paper.paperTotal">
                    </el-pagination>
                  </div>
                </div>
              </div>
            </div>
            <el-badge :value="paper.QuestsBasket.length" class="item" style="position: fixed; top: 50%; right: 50px;">
              <el-button type="success" @click="validationStep(2)" style="position: fixed; top: 50%; right: 20px; width: 36px; height: auto;padding:10px;box-shadow: 0px 3px 4px rgba(0,0,0,0.5); white-space: normal;">
                已选试题数
              </el-button>
            </el-badge>
          </div>
        </div>
        <div id="step3"  v-if="active == 3">
            <el-row  v-loading='loads.loading4' element-loading-text="拼命加载中...">
                <el-col :span="24">
                  <div class="black-content bg-purple-dark">
                      <h2 class="text-center"  v-if="paper_detail.paper_name">{{ paper_detail.paper_name }}</h2>
                      <h5 class="text-center"　v-if="paper_detail.duration" style="margin-bottom:20px;">测试时长: {{ paper_detail.duration }} Min</h5>
                      <div class="paper-content">
                        <el-card class="box-card"  v-for="(question,index) in questions">
                            <div slot="header" class="clearfix">
                              <span style="line-height: 36px;">考试真题</span>
                              <el-button style="float: right;margin-top: 4px;"
                                @click="changeTopic(question.question_id, question.question_knowledge_point_id, index)"
                                type="primary"
                                size="small">
                                替换该题
                              </el-button>
                              <el-button
                                @click="removeBasket(question.question_id)"
                                v-if="paper.QuestsBasket.length > 0 && paperType == 2"
                                style="float: right;margin-top: 4px;margin-right: 10px;" type="danger"　size="small">
                                移除试题
                              </el-button>
                            </div>
                            <div class="question-panel" >
                                <div class="question-detail">
                                    {{ index + (pageSize * (currentPage - 1 )) + 1 }}
                                    <span v-html="question.question_detail">  {{ question.question_detail }} </span>
                                </div>
                                <div class="answer_list">
                                    <p v-for="(answer, id) in question.answer_list" style="display:inline-flex;margin: auto 10px;">
                                      <span v-html="switchLetter(id)"> {{switchLetter(id)}} </span>
                                      <span v-html="answer.answer"> {{ switchLetter(id) + ' ' + answer.answer  }} </span>
                                     </p>
                                </div>
                                <div class="question_analysis">
                                    <el-tag type="warning">试题解析</el-tag>
                                    <span v-html="question.question_analysis" style="padding-left: 10px;">  {{ question.question_analysis  }} </span>
                                </div>
                            </div>
                        </el-card>
                      </div>
                  </div>
                </el-col>
            </el-row>
            <div v-if="paperTotal > pageSize">
              <el-pagination
                 @size-change="handleSizeChange"
                 @current-change="handleCurrentChange"
                 :current-page="currentPage"
                 :page-sizes="[10, 15, 20, 25]"
                 :page-size="pageSize"
                 layout="total, sizes, prev, pager, next, jumper"
                 :total="paperTotal">
              </el-pagination>
            </div>
            <el-button @click="saveUpdatePaper()"　style="position: fixed; top: 60%; right: 0px; width: 42px; height: auto; z-index:4;height: 117px; box-shadow: 0px 3px 4px rgba(0,0,0,0.5); white-space: normal;"　type="warning">
                保存更新　
            </el-button>
        </div>
        <div id="step4"  v-if="active == 4" v-loading='loads.loading5' element-loading-text="加载中...">
          <el-form label-position="top" label-width="80px" :model="test_draft">
              <el-form-item label="设置测试截止时间:">
                <el-date-picker
                  v-model="test_draft.testEndTime"
                  type="datetime"
                  placeholder="选择测试截止时间">
                </el-date-picker>
              </el-form-item>
              <el-form-item label="测试备注:">
                <el-input v-model="test_draft.region"></el-input>
              </el-form-item>
              <el-form-item>
                <el-button style="margin-top: 12px;" @click="saveTestDraft()"　type="warning"><i class="fa fa-file-text-o" aria-hidden="true"></i> 存为草稿</el-button>
                <el-button style="margin-top: 12px;" @click="releasePaper()"　type="success"><i class="fa fa-paper-plane" aria-hidden="true"></i> 发布测试</el-button>
                <p style="color:red;">备注：发布试卷需要先存为草稿，然后点击发布。</p>
              </el-form-item>
            </el-form>

        </div>
      </div>
      <div>
          <el-button style="margin-top: 12px;" :disabled="active == 0" @click="previou">上一步</el-button>
          <el-button style="margin-top: 12px;" :disabled="active == 4" @click="next">下一步</el-button>
      </div>
  </div>
</div>

<% include ../footer.html %>
<script src="//cdn.bootcss.com/vue/2.2.1/vue.min.js"></script>
<script src="//cdn.bootcss.com/element-ui/1.2.4/index.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
<script type="text/javascript" src="js/plugins/ztree/jquery.ztree.core.min.js"></script>
<script type="text/javascript" src="js/plugins/ztree/jquery.ztree.excheck.min.js"></script>
<script type="text/javascript" src="js/plugins/ztree/jquery.ztree.exedit.min.js"></script>
<script>

//  初始化树形设置
var zTreeObj;
var setting = {
  edit: {
    drug: {
      isCopy: false,
      isMove: true,
    },
    enable: true,
    showRemoveBtn: false,
    showRenameBtn: false
  },
  view: {
    showIcon: false
  },
  data: {
    key:{
      name: 'kname'
    },
    simpleData: {
      enable: true,
      idKey: 'kid',
			pIdKey: "parentId"
    }
  },
  callback: {
		onClick: zTreeOnClick
	}
};
$(document).ready(function(){
  // 初始化数据
  app.getGrouoList();
});

app = new Vue({
  el: '#app',
  data: {
    active: 0,
    test_title: "",
    groupid: '',
    groupList:[],
    ruleid: '',
    rule_list: [],
    rule_detail: {
      groups: []
    },
    paper_list: [],
    paper_detail: {},
    paperid: '',
    questions:[],
    test_draft:{
        testEndTime:'',
        region: ''
    },
    testId: 0,
    currentPage: 1,
    paperTotal: 0,
    pageSize: 10,
    loads:{
      loading1: true,
      loading2: false,
      loading3: false,
      loading4: false,
      loading5: false
    },
    paperType: 0,
    paper:{
      organId: null, //机构ID
      kbillId: null, //知识点ID
      kname: '',
      typeId: null,
      kid: null,
      KnowledgeTrees: [],
      KnowledgeTreeDetail: [],
      QuestTypes:[],
      QuestsIds: [],
      QuestsList:{},
      currentPage: 1,
      paperTotal: 0,
      pageSize: 10,
      QuestsBasket:[]
    }
  },
  methods: {
    next: function() {
      // 下一步
      var msg = this.validationStep(this.active);
      if(!msg && this.active < 5){
        // if(this.active == 1){this.getRuleList();}
        this.active++;
      }else{
        _toastr(msg, "top-full-width", "error", false);
      }
    },
    previou: function() {
      // 上一步
      if (this.active　> 0){ this.active--; };
    },
    handlePaperType:function(val){
      this.paperType = val;
      if(val === 2){
        this.getKnowledgeTrees();
      }else{
        this.getRuleList();
      }
    },
    selectKnow:function(kbillId,kname){
      this.paper.kbillId = kbillId;
      this.paper.kname = kname;
      this.paper.QuestsBasket = [];
      this.getKnowledgeTreeDetail(kbillId);
      this.getQuestTypes();
      initZtree();
    },
    selectType:function(id,name){
      this.paper.typeId = id;
      if(this.paper.kid){
        this.getQuestIds();
      }else{
        _toastr("请选择知识点", "top-full-width", "error", false);
      }
    },
    switchTime:function(date){
      return moment(date).format('YYYY-MM-DD HH:mm:ss')
    },
    switchLetter: function(index) {
      //  题目答案选项
      var letters = ['A、', 'B、', 'C、', 'D、'];
      return letters[index];
    },
    getGrouoList: function() {
      // 获取分组列表
      var _self = this;
      $.ajax({
          type: "POST",
          url: teacher_server_url + "/groupController/getMemberGroupList.do",
          data: {teacherId:teacher_id},
          error: function (XMLHttpRequest, textStatus, errorThrown) {
              _toastr("error message : " + errorThrown.toString(), "bottom-right", "error", false);
          },
          success: function (obj) {
              var data = JSON.parse(obj);
              _self.loads.loading1 = false;
              if(data.returnCode != 0){
                _toastr(data.returnMsg, "top-full-width", "error", false);
              }else{
                _self.groupList = data.data;
              }
          }
      });
    },
    getRuleList: function() {
      // 获取规则列表
      var _self = this;
      _self.loads.loading2 = true;
      $.ajax({
          type: "POST",
          url: teacher_server_url + "/ruleController/getRuleList.do",
          error: function (XMLHttpRequest, textStatus, errorThrown) {
              _toastr("error message : " + errorThrown.toString(), "bottom-right", "error", false);
          },
          success: function (obj) {
            var data = JSON.parse(obj);
            _self.loads.loading2 = false;
            if(data.returnCode != 0){
              _toastr(data.returnMsg, "top-full-width", "error", false);
            }else{
              _self.rule_list = data.data;
            }
          }
      });
      return '';
    },
    getPaperList:function() {
      // 获取试卷各题序号
      var _self = this;
      $.ajax({
          type: "POST",
          url: teacher_server_url + "/definedPaperController/getPaperDetailByPaperId.do",
          data: {paperId: this.paperid,page: this.currentPage, rows:this.pageSize},
          error: function (XMLHttpRequest, textStatus, errorThrown) {
              _toastr("error message : " + errorThrown.toString(), "bottom-right", "error", false);
          },
          success: function (obj) {
            var data = JSON.parse(obj);
            _self.paper_detail = data.data;
            _self.paperTotal = data.data.total;
            if(data.returnCode == 0 && data.data.quests.length){
              var questids = data.data.quests[0].quest_id;
              for(var i = 1;i < data.data.quests.length;i++){
                var quest = data.data.quests[i]
                questids += ','+quest.quest_id;
              }
              _self.getQuestList(questids,'rule');
            }
          }
      });
      return '';
    },
    getQuestList:function(questids, type) {
      // 获取试卷题目列表
      var _self = this;
      $.ajax({
          type: "POST",
          url: teacher_server_url + "/questDealController/getQuestionDetail.do",
          data:{questIds: questids},
          error: function (XMLHttpRequest, textStatus, errorThrown) {
              _toastr("error message : " + errorThrown.toString(), "bottom-right", "error", false);
          },
          success: function (obj) {
            var data = JSON.parse(obj);
            if(data.returnCode == 0){
              if(type == 'rule'){
                _self.questions = data.data;
              }else{
                _self.paper.QuestsList = data.data;
              }
            }else{
              _toastr(data.returnMsg, "top-full-width", "error", false);
            }
          }
      });
    },
    handleCurrentRuleId: function(val) {
      // 获取当前选中规则ｉd，并获取详情
      this.ruleid = val.rule_id;
      var _self = this;
      _self.loads.loading3 = true;
      $.ajax({
          type: "POST",
          url: teacher_server_url + "/ruleController/getRuleDetailByRuleId.do",
          data: {ruleId:val.rule_id},
          error: function (XMLHttpRequest, textStatus, errorThrown) {
              _toastr("error message : " + errorThrown.toString(), "bottom-right", "error", false);
          },
          success: function (obj) {
              var data = JSON.parse(obj)
              _self.loads.loading3 = false;
              if(data.returnCode != 0){
                _toastr(data.returnMsg, "top-full-width", "error", false);
              }else{
                _self.rule_detail = data.data;
              }
          }
      });
    },
    handleCurrentPaperId: function() {
      // 获取当前试卷ｉd，并请求试卷详情
      if(this.paperType == 1){
        var _self = this;
        _self.loads.loading4 = true;
        $.ajax({
            type: "POST",
            url: teacher_server_url + "/definedPaperController/getPaperIdByRuleId.do",
            data: {ruleId:this.ruleid},
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                _toastr("error message : " + errorThrown.toString(), "bottom-right", "error", false);
            },
            success: function (obj) {
                var data = JSON.parse(obj)
                _self.loads.loading4 = false;
                _self.paperid = data.paperId;
                if(data.paperId){
                  _self.getPaperList();
                }else{
                  _toastr("获取试卷失败，请重试", "top-full-width", "error", false);
                }
            }
        });
      }else if(this.paperType == 2){
        this.paperTotal = this.paper.QuestsIds.length;
        var questids =  this.paper.QuestsIds.slice(0, this.paper.pageSize).join(',');
        this.getQuestList(questids, 'rule');
      }
    },
    changeTopic: function(question_id, question_knowledge, index) {
      // 换题
        var kid  = question_knowledge.question_knowledge_point_id;
        var _self = this;
        _self.loads.loading4 = true;
        $.ajax({
            type: "POST",
            url: teacher_server_url + "/definedPaperController/getOneQuestForPaper.do",
            data: {question_id:question_id, kid:kid},
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                _toastr("error message : " + errorThrown.toString(), "bottom-right", "error", false);
            },
            success: function (obj) {
                var data = JSON.parse(obj);
                _self.loads.loading4 = false;
                if(data.returnCode == 0){
                  _self.questions = _self.questions.map(function(question, id){
                      if(id == index){
                        return data.data;
                      }
                      return question;
                  });
                }else{
                   _toastr("更换题目失败，请重试", "top-full-width", "error", false);
                }
            }
        });
    },
    saveUpdatePaper:function(){
      // 保存更新
      this.loads.loading4 = true;
      var params = {
        paperId: this.paperId,
        questNum: this.paper_detail.quest_num,
        paperTime: this.paper_detail.duration,
        paperName: this.paper_detail.paper_name,
        quests: this.paper_detail.quests
      }
      var _self = this;
      $.ajax({
          type: "POST",
          url: teacher_server_url + "/definedPaperController/updatePaperDetail.do",
          data: params,
          error: function (XMLHttpRequest, textStatus, errorThrown) {
              _toastr("error message : " + errorThrown.toString(), "bottom-right", "error", false);
          },
          success: function (obj) {
              var data = JSON.parse(obj);
              _self.loads.loading4 = false;
              if(data.returnCode == 0){
                 _toastr("保存更新成功", "top-full-width", "success", false);
              }else{
                 _toastr("保存更新失败，请重试", "top-full-width", "error", false);
              }
          }
      });
      return '';
    },
    releasePaper: function() {
      // 发布测试
      $.ajax({
          type: "POST",
          url: teacher_server_url + "/testExerciseController/setTestFormal.do",
          data: {teacherId:teacher_id,testId:this.testId},
          error: function (XMLHttpRequest, textStatus, errorThrown) {
              _toastr("error message : " + errorThrown.toString(), "bottom-right", "error", false);
          },
          success: function (obj) {
              var data = JSON.parse(obj);
              if(data.returnCode == 0){
                 _toastr("发布成功", "top-full-width", "success", false);
                 location.href = "/admin/dispose_work";
              }else{
                 _toastr(data.returnMsg + "发布失败，请重试", "top-full-width", "error", false);
              }
          }
      });
    },
    saveTestDraft: function() {
      //保存为草稿
      var endTime = this.test_draft.testEndTime;
      this.loads.loading5 = true;
      if(endTime){
        var params = {
          teacherId: teacher_id,
          memberGroupId: this.groupid,
          paperId: this.paperid,
          testName: this.test_title,
          testType: 1,
          paperSource: 2,
          testStartTime:moment().format('YYYY-MM-DD HH:mm:ss'),
          questNum: this.paper_detail.quest_num,
          testRemark: this.test_draft.region,
          testEndTime: moment(endTime).format('YYYY-MM-DD HH:mm:ss')
        }
        var _self = this;
        $.ajax({
            type: "POST",
            url: teacher_server_url + "/testExerciseController/saveTestDraft.do",
            data: params,
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                _toastr("error message : " + errorThrown.toString(), "bottom-right", "error", false);
            },
            success: function (obj) {
                var data = JSON.parse(obj);
                _self.loads.loading5 = false;
                if(data.returnCode == 0){
                    _self.testId = data.testId;
                   _toastr("存为草稿成功", "top-full-width", "success", false);
                }else{
                   _toastr("存为草稿失败，请重试", "top-full-width", "error", false);
                }
            }
        });
      }else{
        _toastr("请先选择测试结束时间，填写测试备注！", "top-full-width", "error", false);
      }

    },
    validationStep: function(index) {
      // 下一步验证
      switch (index) {
        case 0:
            return this.groupid ? '' : "请选择分组";
          break;
        case 1:
            this.paperType　= 0;
            return this.test_title ? '' : "请填写测试名";
          break;
        case 2:
            if(this.paperType == 1){
              return this.ruleid ? this.handleCurrentPaperId() : "请选择一个组卷规则";
            }else if(this.paperType == 2){
              this.paper.QuestsIds = this.paper.QuestsBasket;
              console.log(this.paper.QuestsIds.length,"2")
              return this.paper.QuestsBasket.length > 0 ? this.handleCurrentPaperId() : "请选择试题";
            }
          break;
        case 3:
            this.saveUpdatePaper();
          break;
        default:
            return false;
      }
    },
    handleSizeChange:function(val) {
        if(this.paperType  == 1){
          this.pageSize = val;
          this.currentPage = 1;
        }else if(this.paperType  == 2){
          this.paper.pageSize = val;
          this.paper.currentPage = 1;
          var questids =  this.paper.QuestsIds.slice(0, this.paper.pageSize).join(',');
          this.getQuestList(questids, 'rule');
        }
    },
    handleCurrentChange:function(val) {
        if(this.paperType  == 1){
          this.currentPage = val;
        }else if(this.paperType  == 2){
          this.paper.currentPage = val;
          var start = this.paper.pageSize * (val - 1 );
          var end = this.paper.pageSize * val;
          var questids = this.paper.QuestsIds.slice(start, end).join(',');
          this.getQuestList(questids, 'rule');
        }
    },
    handleSize:function(val) {
        this.paper.pageSize = val;
        this.paper.currentPage = 1;
        var questids =  this.paper.QuestsIds.slice(0, this.paper.pageSize).join(',');
        this.getQuestList(questids, 'know');
    },
    handleCurrent:function(val) {
        this.paper.currentPage = val;
        var start = this.paper.pageSize * (val - 1 );
        var end = this.paper.pageSize * val;
        var questids = this.paper.QuestsIds.slice(start, end).join(',');
        this.getQuestList(questids, 'know');
    },
    // 知识点组卷
    getKnowledgeTrees:function() {
      var _self = this;
      _self.loads.loading3 = true;
      $.ajax({
          type: "POST",
          url: teacher_server_url + "/FormPaper/getKnowledgeTrees.do",
          data: {organId:sessionStorage.getItem('organ_id')},
          error: function (XMLHttpRequest, textStatus, errorThrown) {
              _toastr("error message : " + errorThrown.toString(), "bottom-right", "error", false);
          },
          success: function (obj) {
            var data = JSON.parse(obj);
            if(data.returnCode == 0){
              _self.paper.KnowledgeTrees = data.data;
              if(data.data.length){
                _self.paper.kbillId = data.data[0].kbillId;
                _self.paper.kname = data.data[0].kbillName;
                _self.getKnowledgeTreeDetail(data.data[0].kbillId);
                _self.getQuestTypes();
              }
            }else{
              _toastr(data.returnMsg, "top-full-width", "error", false);
            }
          }
      });
    },
    getKnowledgeTreeDetail:function(kbillId){
      var _self = this;
      $.ajax({
          type: "POST",
          url: teacher_server_url + "/FormPaper/getKnowledgeTreeDetail.do",
          data: {kbillId: kbillId},
          error: function (XMLHttpRequest, textStatus, errorThrown) {
              _toastr("error message : " + errorThrown.toString(), "bottom-right", "error", false);
          },
          success: function (obj) {
            var data = JSON.parse(obj);
            if(data.returnCode == 0){
              _self.paper.KnowledgeTreeDetail = data.data;
              _self.loads.loading3 = false;
              initZtree(data.data);
            }else{
              _toastr(data.returnMsg, "top-full-width", "error", false);
            }
          }
      });
    },
    getQuestTypes:function() {
      //获取题型列表
      var _self = this;
      $.ajax({
          type: "POST",
          url: teacher_server_url + "/FormPaper/getQuestTypes.do",
          error: function (XMLHttpRequest, textStatus, errorThrown) {
              _toastr("error message : " + errorThrown.toString(), "bottom-right", "error", false);
          },
          success: function (obj) {
            var data = JSON.parse(obj);
            if(data.returnCode == 0){
              _self.paper.QuestTypes = data.data;
            }else{
              _toastr(data.returnMsg, "top-full-width", "error", false);
            }
          }
      });
    },
    getQuestIds:function() {
      // 获得所选题型的ID
      var _self = this;
      $.ajax({
          type: "POST",
          url: teacher_server_url + "/FormPaper/queryQuestsByKid.do",
          data:{
            kid: this.paper.kid,
            QuestTypeid: this.paper.typeId
          },
          error: function (XMLHttpRequest, textStatus, errorThrown) {
              _toastr("error message : " + errorThrown.toString(), "bottom-right", "error", false);
          },
          success: function (obj) {
            var data = JSON.parse(obj);
            if(data.returnCode == 0){
              _self.paper.QuestsIds = data.data.list;
              _self.paper.paperTotal = data.data.count;
              if(data.data.list.length > 0){
                var questids = data.data.list.slice(0, _self.paper.pageSize).join(',');
                _self.getQuestList(questids, 'know');
              }
            }else{
              _toastr(data.returnMsg, "top-full-width", "error", false);
            }
          }
      });
    },
    addBasket:function(question_id) {
      this.paper.QuestsBasket.push(question_id);
      console.log(this.paper.QuestsIds.length,"3")
    },
    deleteBasket:function(question_id) {
      this.paper.QuestsBasket = this.paper.QuestsBasket.filter(function(val,index){
        return val != question_id;
      })
    },
    removeBasket:function(question_id) {
      var QuestsBasket = this.paper.QuestsBasket.filter(function(val,index){
        return val != question_id;
      });
      var questids =  QuestsBasket.slice(0, this.paper.pageSize).join(',');
      this.getQuestList(questids, 'rule');
      this.paper.QuestsBasket = QuestsBasket;
    },
  }

});

function initZtree(data){
  $("#ztree").empty();
  zTreeObj = $.fn.zTree.init($("#ztree"), setting, data);
}

function zTreeOnClick(event, treeId, treeNode) {
  app.paper.kid = treeNode.kid;
  app.getQuestIds();
}

</script>
