<% include ../header.html %>
<!-- <link rel="stylesheet" href="css/plugins/ztree/zTreeStyle/zTreeStyle.css" /> -->
<!-- <link rel="stylesheet" href="css/plugins/steps/jquery.steps.css" /> -->
<!-- <link href="css/plugins/jqdatetimepicker/jquery.datetimepicker.css" rel="stylesheet"> -->
<link href="//cdn.bootcss.com/element-ui/1.2.4/theme-default/index.css" rel="stylesheet">
<link rel="stylesheet" href="css/teacher/dispose_works.css" />

<div class="wrapper wrapper-content">
  <div class="row" id="app" style="background-color: white;padding: 15px;" >
      <div id="steps-panel">
        <el-steps :space="100" :active="active" finish-status="success">
            <el-step title="选择分组"></el-step>
            <el-step title="给测试命名"></el-step>
            <el-step title="开始组卷"></el-step>
            <el-step title="试卷预览"></el-step>
            <el-step title="发布试卷"></el-step>
        </el-steps>
      </div>
      <div id="step-content">
        <div id="step0" v-if="active == 0">
          <el-select v-model="groupid" placeholder="请选择目标分组">
            <el-option
                v-for="group in groupList"
                :label="group.group_name"
                :value="group.group_id"
                >
                <span style="float: left">{{ group.group_name }}</span>
                <span style="float: right; color: #8492a6; font-size: 13px">{{ group.member_count }}人</span>
              </el-option>
            </el-select>
        </div>
        <div id="step1"  v-if="active == 1">
          <el-form label-position="top" label-width="80px">
              <el-form-item label="测试命名:">
                  <el-input v-model="test_title" placeholder="给新建的分组，取个名称吧"></el-input>
              </el-form-item>
          </el-form>
          <!-- <input class="form-control" v-model="test_title" id="name-input" style="" type="text" placeholder="给新建的分组，取个名称吧"> -->
        </div>
        <div id="step2"  v-if="active == 2">
          <el-row>
              <el-col :span="12" style="border-right: solid 1px #dedede;min-height: 370px;overflow-y: scroll;">
                <div class="grid-content bg-purple">
                  <el-table
                      :data="rule_list"
                      highlight-current-row
                      @current-change="handleCurrentRuleId"
                      style="width: 100%">
                      <el-table-column
                        prop="rule_name"
                        label="请选择组卷规则">
                      </el-table-column>
                   </el-table>
                </div>
              </el-col>
              <el-col :span="12" style="overflow-y: scroll;">
                <div class="grid-content bg-purple-light">
                  <div id="rule-detail">
                    <div class="title">
                      <div class="cell">规则详情[{{rule_detail.rule_name}}]</div>
                    </div>
                    <div class="rule-content">
                      <el-row :gutter="20" class="rule-total-info">
                        <el-col :span="8">
                          <div class="grid-content bg-purple">总的分数：<span>{{rule_detail.score || 0}}分</span></div>
                        </el-col>
                        <el-col :span="8">
                          <div class="grid-content bg-purple">总的题数：<span>{{rule_detail.quest_num || 0}}题</span></div>
                        </el-col>
                        <el-col :span="8">
                          <div class="grid-content bg-purple">持续时间：<span>{{rule_detail.duration || 0}}分钟</span></div>
                        </el-col>
                      </el-row>
                      <el-row :gutter="20" class="rule-group" v-for="group in rule_detail.groups">
                          <el-col :span="12"><div class="grid-content bg-purple">分数：{{group.score || 0}}</div></el-col>
                          <el-col :span="12"><div class="grid-content bg-purple">题数：{{group.quest_num || 0}}</div></el-col>
                          <el-col :span="24" class="knowlege">
                              <el-row :gutter="20">
                                  <el-col :span="4">
                                      知识点:
                                  </el-row>
                                  <el-col :span="16">
                                    <ul>
                                      <li v-for="knowlege in group.knowleges">
                                        {{ knowlege.kName }}
                                      </li>
                                    </ul>
                                  </el-row>
                              </el-row>
                          </el-col>
                      </el-row>
                    </div>
                  </div>
                </div>
              </el-col>
          </el-row>
        </div>
        <div id="step3"  v-if="active == 3">
            <el-row>
                <el-col :span="24">
                  <div class="black-content bg-purple-dark">
                      <h2 class="text-center">{{ paper_detail.paper_name }}</h2>
                      <h5 class="text-center" style="margin-bottom:20px;">测试时长: {{ paper_detail.duration }} Min</h5>
                      <div id="paper-content">
                        <el-card class="box-card"  v-for="(question,index) in questions">
                            <div slot="header" class="clearfix">
                              <span style="line-height: 36px;">考试真题</span>
                              <el-button style="float: right;" @click="changeTopic(question.question_id, question.question_knowledge_point_id, index)" type="primary" size="small">替换该题</el-button>
                            </div>
                            <div class="question-panel" >
                                <div class="question-detail">
                                    {{ index + '. ' }}
                                    <span v-html="question.question_detail">  {{ question.question_detail }} </span>
                                </div>
                                <div class="answer_list">
                                    <p v-for="(answer, id) in question.answer_list">
                                      <span v-html="switchLetter(id)"> {{switchLetter(id)}} </span>
                                      <span v-html="answer.answer"> {{ switchLetter(id) + ' ' + answer.answer  }} </span>
                                     </p>
                                </div>
                                <div class="question_analysis">
                                    <el-tag type="warning">试题解析</el-tag>
                                    <span v-html="question.question_analysis" style="padding-left: 10px;">  {{ question.question_analysis  }} </span>
                                </div>
                            </div>
                        </el-card>
                      </div>
                  </div>
              </el-col>
            </el-row>
            <div v-if="paperTotal > pageSize">
              <el-pagination
                 @size-change="handleSizeChange"
                 @current-change="handleCurrentChange"
                 :current-page="currentPage"
                 :page-sizes="[10, 15, 20, 25]"
                 :page-size="pageSize"
                 layout="total, sizes, prev, pager, next, jumper"
                 :total="paperTotal">
              </el-pagination>
            </div>
            <el-button @click="saveUpdatePaper()"　style="position: fixed; top: 60%; right: 0px; width: 42px; height: auto; z-index:4;height: 117px; box-shadow: 0px 3px 4px rgba(0,0,0,0.5); white-space: normal;"　type="warning">
                保存更新　
            </el-button>
        </div>
        <div id="step4"  v-if="active == 4">
          <el-form label-position="top" label-width="80px" :model="test_draft">
              <el-form-item label="设置测试截止时间:">
                <el-date-picker
                  v-model="test_draft.testEndTime"
                  type="datetime"
                  placeholder="选择测试截止时间">
                </el-date-picker>
              </el-form-item>
              <el-form-item label="测试备注:">
                <el-input v-model="test_draft.region"></el-input>
              </el-form-item>
              <el-form-item>
                <el-button style="margin-top: 12px;" @click="saveTestDraft()"　type="warning"><i class="fa fa-file-text-o" aria-hidden="true"></i> 存为草稿</el-button>
                <el-button style="margin-top: 12px;" @click="releasePaper()"　type="success"><i class="fa fa-paper-plane" aria-hidden="true"></i> 发布测试</el-button>
                <p style="color:red;">备注：发布试卷需要先存为草稿，然后点击发布。</p>
              </el-form-item>
            </el-form>

        </div>
      </div>
      <div>
          <el-button style="margin-top: 12px;" :disabled="active == 0" @click="previou">上一步</el-button>
          <el-button style="margin-top: 12px;" :disabled="active == 4" @click="next">下一步</el-button>
      </div>
  </div>
</div>

<% include ../footer.html %>

<!-- <script type="text/javascript" src="js/plugins/steps/jquery.steps.min.js"></script> -->
<!-- <script type="text/javascript" src="js/plugins/jqdatetimepick/jquery.datetimepicker.js"></script> -->
<script src="//cdn.bootcss.com/vue/2.2.1/vue.min.js"></script>
<script src="//cdn.bootcss.com/element-ui/1.2.4/index.js"></script>
<script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
<!-- <script type="text/javascript" src="js/teacher/jquery-labelauty.js"></script> -->
<script>

$(document).ready(function(){
  // 初始化数据
  app.getGrouoList();
});

app = new Vue({
  el: '#app',
  data: {
    active: 0,
    test_title: "",
    groupid: '',
    groupList:[],
    ruleid: '',
    rule_list: [],
    rule_detail: {
      groups: []
    },
    paper_list: [],
    paper_detail: {},
    paperid: '',
    questions:[],
    test_draft:{
        testEndTime:'',
        region: ''
    },
    testId: 0,
    currentPage: 1,
    paperTotal: 0,
    pageSize: 10
  },
  methods: {
    next: function() {
      // 下一步
      var msg = this.validationStep(this.active);
      if(!msg && this.active < 5){
        if(this.active == 1){this.getRuleList();}
        this.active++;
      }else{
        _toastr(msg, "top-full-width", "error", false);
      }
      },
    previou: function() {
      // 上一步
      if (this.active　> 0){ this.active--; };
    },
    switchLetter: function(index) {
      //  题目答案选项
      var letters = ['A', 'B', 'C', 'D'];
      return letters[index];
    },
    getGrouoList: function() {
      // 获取分组列表
      var _self = this;
      $.ajax({
          type: "POST",
          url: teacher_server_url + "/groupController/getMemberGroupList.do",
          data: {teacherId:teacher_id},
          error: function (XMLHttpRequest, textStatus, errorThrown) {
              _toastr("error message : " + errorThrown.toString(), "bottom-right", "error", false);
          },
          success: function (obj) {
            var data = JSON.parse(obj);
              _self.groupList = data.data;
              if(data.returnCode != 0){
                _toastr(data.returnMsg, "top-full-width", "error", false);
              }
          }
      });
    },
    getRuleList: function() {
      // 获取规则列表
      var _self = this;
      $.ajax({
          type: "POST",
          url: teacher_server_url + "/ruleController/getRuleList.do",
          error: function (XMLHttpRequest, textStatus, errorThrown) {
              _toastr("error message : " + errorThrown.toString(), "bottom-right", "error", false);
          },
          success: function (obj) {
            var data = JSON.parse(obj);
            _self.rule_list = data.data;
            if(data.returnCode != 0){
              _toastr(data.returnMsg, "top-full-width", "error", false);
            }
          }
      });
      return '';
    },
    getPaperList:function() {
      // 获取试卷各题序号
      var _self = this;
      $.ajax({
          type: "POST",
          url: teacher_server_url + "/definedPaperController/getPaperDetailByPaperId.do?",
          data: {paperId: this.paperid,page: this.currentPage, rows:this.pageSize},
          error: function (XMLHttpRequest, textStatus, errorThrown) {
              _toastr("error message : " + errorThrown.toString(), "bottom-right", "error", false);
          },
          success: function (obj) {
            var data = JSON.parse(obj);
            _self.paper_detail = data.data;
            _self.paperTotal = data.data.total;
            if(data.returnCode == 0 && data.data.quests.length){
              var questids = data.data.quests[0].quest_id;
              for(var i = 1;i < data.data.quests.length;i++){
                var quest = data.data.quests[i]
                questids += ','+quest.quest_id;
              }
              _self.getQuestList(questids);
            }
          }
      });
      return '';
    },
    getQuestList:function(questids) {
      // 获取试卷题目列表
      var _self = this;
      $.ajax({
          type: "POST",
          url: teacher_server_url + "/questDealController/getQuestionDetail.do",
          data:{questIds: questids},
          error: function (XMLHttpRequest, textStatus, errorThrown) {
              _toastr("error message : " + errorThrown.toString(), "bottom-right", "error", false);
          },
          success: function (obj) {
            var data = JSON.parse(obj);
            if(data.returnCode == 0){
               _self.questions = data.data;
               console.log(data.data);
            }else{
              _toastr(data.returnMsg, "top-full-width", "error", false);
            }
          }
      });
    },
    handleCurrentRuleId: function(val) {
      // 获取当前选中规则ｉd，并获取详情
      this.ruleid = val.rule_id;
      var _self = this;
      $.ajax({
          type: "POST",
          url: teacher_server_url + "/ruleController/getRuleDetailByRuleId.do",
          data: {ruleId:val.rule_id},
          error: function (XMLHttpRequest, textStatus, errorThrown) {
              _toastr("error message : " + errorThrown.toString(), "bottom-right", "error", false);
          },
          success: function (obj) {
              var data = JSON.parse(obj)
              console.log(data);
              _self.rule_detail = data.data;
              if(data.returnCode != 0){
                _toastr(data.returnMsg, "top-full-width", "error", false);
              }
          }
      });
    },
    handleCurrentPaperId: function() {
      // 获取当前试卷ｉd，并请求试卷详情
      var _self = this;
      $.ajax({
          type: "POST",
          url: teacher_server_url + "/definedPaperController/getPaperIdByRuleId.do",
          data: {ruleId:this.ruleid},
          error: function (XMLHttpRequest, textStatus, errorThrown) {
              _toastr("error message : " + errorThrown.toString(), "bottom-right", "error", false);
          },
          success: function (obj) {
              var data = JSON.parse(obj)
              _self.paperid = data.paperId;
              if(data.paperId){
                _self.getPaperList();
              }else{
                _toastr("获取试卷失败，请重试", "top-full-width", "error", false);
              }
          }
      });
    },
    changeTopic: function(question_id, question_knowledge, index) {
      // 换题
        var kid  = question_knowledge.question_knowledge_point_id;
        var _self = this;
        $.ajax({
            type: "POST",
            url: teacher_server_url + "/definedPaperController/getOneQuestForPaper.do",
            data: {question_id:question_id, kid:kid},
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                _toastr("error message : " + errorThrown.toString(), "bottom-right", "error", false);
            },
            success: function (obj) {
                var data = JSON.parse(obj)
                if(data.returnCode == 0){
                  _self.questions = _self.questions.map(function(question, id){
                      if(id == index){
                        return data.data;
                      }
                      return question;
                  });
                }else{
                   _toastr("更换题目失败，请重试", "top-full-width", "error", false);
                }
            }
        });
    },
    saveUpdatePaper:function(){
      // 保存更新
      var params = {
        paperId: this.paperId,
        questNum: this.paper_detail.quest_num,
        paperTime: this.paper_detail.duration,
        paperName: this.paper_detail.paper_name,
        quests: this.paper_detail.quests
      }
      $.ajax({
          type: "POST",
          url: teacher_server_url + "/definedPaperController/updatePaperDetail.do",
          data: params,
          error: function (XMLHttpRequest, textStatus, errorThrown) {
              _toastr("error message : " + errorThrown.toString(), "bottom-right", "error", false);
          },
          success: function (obj) {
              var data = JSON.parse(obj);
              if(data.returnCode == 0){
                 _toastr("保存更新成功", "top-full-width", "success", false);
              }else{
                 _toastr("保存更新失败，请重试", "top-full-width", "error", false);
              }
          }
      });
      return '';
    },
    releasePaper: function() {
      // 发布测试
      $.ajax({
          type: "POST",
          url: teacher_server_url + "/testExerciseController/setTestFormal.do",
          data: {teacherId:teacher_id,testId:this.testId},
          error: function (XMLHttpRequest, textStatus, errorThrown) {
              _toastr("error message : " + errorThrown.toString(), "bottom-right", "error", false);
          },
          success: function (obj) {
              var data = JSON.parse(obj);
              console.log("fabu",data);
              if(data.returnCode == 0){
                 _toastr("发布成功", "top-full-width", "success", false);
              }else{
                 _toastr(data.returnMsg + "发布失败，请重试", "top-full-width", "error", false);
              }
          }
      });
    },
    saveTestDraft: function() {
      //保存为草稿
      var endTime = this.test_draft.testEndTime;
      if(endTime){
        var params = {
          teacherId: teacher_id,
          memberGroupId: this.groupid,
          paperId: this.paperid,
          testName: this.test_title,
          testType: 1,
          paperSource: 2,
          testStartTime:moment().format('YYYY-MM-DD HH:mm:ss'),
          questNum: this.paper_detail.quest_num,
          testRemark: this.test_draft.region,
          testEndTime: moment(endTime).format('YYYY-MM-DD HH:mm:ss')
        }
        var _self = this;
        $.ajax({
            type: "POST",
            url: teacher_server_url + "/testExerciseController/saveTestDraft.do",
            data: params,
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                _toastr("error message : " + errorThrown.toString(), "bottom-right", "error", false);
            },
            success: function (obj) {
                var data = JSON.parse(obj);
                console.log("caogao",data);
                if(data.returnCode == 0){
                    _self.testId = data.testId;
                   _toastr("存为草稿成功", "top-full-width", "success", false);
                }else{
                   _toastr("存为草稿失败，请重试", "top-full-width", "error", false);
                }
            }
        });
      }else{
        _toastr("请先选择测试结束时间，填写测试备注！", "top-full-width", "error", false);
      }

    },
    validationStep: function(index) {
      // 下一步验证
      switch (index) {
        case 0:
            return this.groupid ? '' : "请选择分组";
          break;
        case 1:
            return this.test_title ? this.getRuleList() : "请填写测试名";
          break;
        case 2:
            return this.ruleid ? this.handleCurrentPaperId() : "请选择一个组卷规则";
          break;
        case 3:
            this.saveUpdatePaper();
          break;
        default:
            return false;
      }
    },
    handleSizeChange:function(val) {
        this.pageSize = val;
    },
    handleCurrentChange:function(val) {
        this.currentPage = val;
    }

  }

});



</script>
