/*
  选择分组
*/
/*#group_list {
    width: 100%;
}
#group_list .group {
    width: 160px;
    height: 160px;
    border: solid 1px #1ab394;
    text-align: center;
    border-radius: 7px;
    background: #fff;
    font-size: 16px;
    padding: 35px 0px;
    color: #1ab394;
    position: relative;
    float: left;
    margin: 0px 15px;
    cursor: pointer;
}
#group_list .group .title {
    color: #236759;
}
#group_list .group .number {
  color: #E9841F;
  margin-bottom: 10px;
  overflow: hidden;
}
#group_list .group .number i{
    font-size: 24px;
    display: block;
}
#check-click {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 160px;
    color: #217C03;
    /*display: none;*/
/*}
#check-click i {
  font-size: 60px;
  line-height: 100%;
}*/

#step-content{
  border: solid 1px #dadada;
  padding: 15px;
  margin: 15px 0px;
  border-radius: 4px;
  min-height: 400px;
}
/*
  命名
*/
#name-input {
    text-align: center;
    width: 60%;
    margin: auto;
    border-radius: 5px;
    min-height: 60px;
}
#name-input:hover {
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3);
}

/*
　时间设置
*/
#date-set {
    line-height: 34px;
}
#btn_save_draft {
    float: right;
    margin-top: -10px;
}
